body {
    font-family: 'Roboto', sans-serif;
    background-color: #161B29;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #090C15;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}

#graph {
    width: 100vw;
    height: calc(100vh - 4rem - 2rem); /* subtracting padding from nav and margin from #graph */
    background-color: #000;
    border-radius: 15px;
    margin: 2rem 0;
}
