<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landingPageStyles.css">
    <title>Welcome to Inclusive Work</title>
</head>
<body>
    <div class="landing-wrapper">
        <div class="blur-gradient"></div>
        <div class="content">
            <div class="info-text">
                Use the arrow keys to navigate and enter to select
            </div>
            <div class="mode-container">
                <div class="mode blind-mode">
                    Blind Mode <br>
                    <span>Job Recommendation</span>
                </div>
                <div class="mode sighted-mode">
                    Sighted Mode <br>
                    <span>Job Recommendation</span>
                </div>
                <div class="mode explore-mode">
                    Sighted Mode <span>Explore</span>
                </div>
            </div>
            <div class="header-braille">
                ⠠⠊⠝⠉⠇⠥⠎⠊⠧⠑⠀⠺⠕⠗⠅⠼⠀⠃⠚⠙⠚
            </div>
            <div class="welcome-text">
                Welcome
            </div>
            <div class="welcome-braille">
                ⠺⠑⠇⠉⠕⠍⠑
            </div>
            <div class="footer-info">
                <div class="creators">
                    Siddharth & Joachim
                </div>
                <div class="creator-details">
                    <span>MDE Harvard</span> / <span>Studio</span>
                </div>
            </div>
        </div>
        <div class="footer-bar">
            Inclusive work 2040
        </div>
    </div>
</body>
</html>
